player-connection-mode=Listen
player-connection-guid=1920319089
player-connection-debug=0
player-connection-project-name=VR Adventure
player-connection-ip=192.168.56.1
player-connection-ip=172.18.56.193
player-connection-ip=192.168.10.137
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
headless=
